<div class="comment-card">
  <div class="card">
    <div class="card-block">
      <div class="row">
      
        <div class="col-md-4">
          <div>
           <%= comment.post_id %>: <%= comment.title %>
          </div>
        </div>
         <div>
            <%= comment.content %>
          </div><br>
      </div>
    </div>
  </div>
</div>